.ipynb_checkpoints/
.~lock.politiker1.csv#
categorizedTweetsORR.csv
categorizedTweetsUreg.csv
mergerDaten/
sicherung_medien_abReuters.csv
sicherung_medien_alt.csv
sicherung_medien_bisPhoenix.csv
sicherung_medien_digital1.csv
sicherung_medien_digital2.csv
sicherung_medien_orr1.csv
sicherung_medien_regio.csv
sicherung_medien_regio_abGlaubeUndHeimat.csv
sicherung_medien_regio_abHA1725.csv
sicherung_medien_regio_abPNP.csv
sicherung_medien_regio_abRheinpfalz.csv
sicherung_medien_regio_abWZonline.csv
termsDF.csv
terms_df.csv
terms_df_ureg.csv
ueberblick_gruppiert_user.csv
