.ipynb_checkpoints/
mergerDaten/
csvs/*
.~lock*
auswertungRfiles/politikerdaten/
auswertungRfiles/mediendaten/
auswertungRfiles/.RData
auswertungRfiles/.Rhistory
auswertungRfiles/zwischenspeicherung/
politikR.R
.Rproj.user
